*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --verde: #51E877;
  }
@font-face{
    src: url(./fonts/Atmos.ttf);
    font-family: atmos;
}
body{
    background: linear-gradient(180deg, #49F5D5 10.71%, #51E877 100%);
    font-family: 'Montserrat', sans-serif;
}

/*PARALLAX*/
.parallax {
    display: flex;
    background-image: url("./img/hero.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.parallax img{
  margin-top: 15%;
  width: 10em;

}
.parallax h1{
  font-family: atmos;
  color: var(--verde);
  text-align: center;
  font-size: 10em;
  margin-bottom: 15%;
} 

/*NAV*/
nav{
    z-index: 3;
    background-color: white;
    position: sticky;
    top:0;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
}
nav img{
    grid-column:2/2 ;
    height: 50px;
    width: 200px; 
}
nav ul{
    margin: 0;
    list-style: none;
    display: flex;
}
nav ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav ul li a:hover{
    color: var(--verde);
    text-decoration: none;
    
}
.active {
    background-color: blueviolet;
}

/*INFO*/
.info{
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
}
.info  h2{
    font-size: 2em;
}
/*AlBUMS*/
.glass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background: linear-gradient(99.6deg, rgba(255, 255, 255, 0.48) 0.44%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    border-radius: 10px;
}
.albums{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}
.album{
    width: 100%;
}
.album img{
    width: 95%;
}
/*REPRODUCTOR*/
.reproductor{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.reproductor img{
    width: 100%;
    height: 100%;
}
.barra{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.play:hover{
    background-color: blueviolet;
  
}
.play_barra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}
#bProg{
    width: 90%;
}
/*INFO2*/
.infoDos{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.tarjeta{
    margin: 10% 0;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.tarjeta i{
    text-align: center;
    margin: 1em 0;
    font-size: 2em;
}
.tarjeta h4{
    text-align: center;
}
.fa-headphones:hover{
    color: #ea4c89 ;
}
.fa-guitar:hover{
    color: #3b5998;
}
.fa-soundcloud:hover{
    color: #ff5500;
}

/*GLIDER*/
.upcoming{
    margin-top: 2em;
    padding: 2em;
    width: 80%;
    text-align: center;
}
.glide__track{
    width: 80%; 
}
.glide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 2em;
}
.glide__slide img{
    width: 100%;
}
.glide__arrows button{
    margin: 0 4%;
    background-color: blueviolet;
}

hr{
    width: 80%;
    border: none;
    background-color: blueviolet;
    height: 0.2em;
}


/*footer*/
footer{

    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}
.about{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.about p{
    width: 80%;
    margin: 0;
}
.cp{
    padding:2em;
}
.social{
    margin: 2em 0;
}
.social-icons {
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons a{
  color: blueviolet;
  font-size:2em;
  display:inline-block;
  text-align:center;
}
.social-icons a.facebook:hover{
  color:#3b5998
}
.social-icons a.twitter:hover{
  color:#00aced
}
.social-icons a.instagram:hover{
  color:#ea4c89
}


/*animacion*/
#logo{
    -webkit-animation:anim 2s infinite;
}
@-webkit-keyframes anim{
    100%{-webkit-transform:rotateY( 360deg);}

}
#letras{
    -webkit-animation:fadeIn ease 4s;

}
@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/*mediaquerys*/
@media (max-width: 1090px) {
    .parallax h1{
        font-size: 5em;
    }
    .glass{
        grid-template-columns: 1fr;
    }
    .barra{
        
        height: 3em;
    }
}
@media (max-width: 720px) {
   nav{ 
       grid-template-columns: 1fr 1fr;
   }
   nav img{
    grid-column:1/2 ;
    }
    nav button{
    grid-column:1/2;
    }
  
}
@media (max-width: 500px) {
    nav{ 
        display: flex;
        flex-direction:column;
        height: auto;
    }
    .about{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}


